body {
    text-align: center;
    background: #98bbc9;
}

header img {
    border-radius: 50%;
}

header ul, footer p {
    display: inline-block;
}

footer p, h4 {
    margin: 0;
    padding: 5px 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}