header p strong {
    color: #38ac38;
}

h1 {
    background-color: #689f83;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    padding: 5px 5px;
    margin: 0;
}

h2 {
    background: #526d60;
    color: #dfdfdf;
    font-weight: 600;
    padding: 10px 10px;
    font-family: sans-serif;
}

body {
    background-color: #cbcbd7;
    margin: 0;
    padding: 5%;
}

a {
    text-decoration: none;
    color: #ff0000;
}

nav a {
    color: #14309f;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #809e90;
}